<ng-container *ngIf="basket$ |async">
    <table>
        <thead>
            <tr>
                <th [class.header]="isBasket">Product</th>
                <th [class.header]="isBasket">Price</th>
                <th [class.header]="isBasket">Quantity</th>
                <th [class.header]="isBasket">Total</th>
                <th [class.header]="isBasket" *ngIf="isBasket">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of (basket$ |async).items" style="font-weight: bold;">
                <td>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6%">
                        <img style="max-height: 50px;" src="{{item.pictureUrl}}" alt="">
                        <div fxLayout="column" fxLayoutAlign="center start">
                            <a style="color: rgb(193, 1, 252);" routerLink="/shop/{{item.id}}">
                                {{item.productName}}
                            </a>
                            <div>Type: {{item.type}}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div fxLayout="row" fxLayoutAlign="center center">{{item.price | currency}}</div>
                </td>
                <td>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
                        <button *ngIf="isBasket" mat-icon-button (click)="decrementItemQuantity(item)">
                            <mat-icon style="color: rgb(253, 218, 62); cursor: pointer;">remove_circle_outline</mat-icon>
                        </button>
                        <div style="font-size: larger;">{{item.quantity}}</div>
                        <button *ngIf="isBasket" mat-icon-button (click)="incrementItemQuantity(item)">
                            <mat-icon style="color: rgb(253, 218, 62); cursor: pointer;">add_circle_outline</mat-icon>
                        </button>
                    </div>
                </td>
                <td>
                    <div fxLayout="row" fxLayoutAlign="center center">{{(item.price * item.quantity | currency)}}</div>
                </td>
                <td>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button *ngIf="isBasket" mat-icon-button (click)="removeBasketItem(item)">
                            <mat-icon fxFlexAlign="center" style="color: rgb(255, 0, 0); cursor: pointer;">restore_from_trash</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
