<div fxLayout="column" fxLayoutAlign="space-around center" style="margin-top: 4%; font-size: larger;">
    <div>
        <p style=" font-weight: bold; font-size: x-large;">
            Internal Server Error - refreshing the page will make the exception disappear
        </p>
        <ng-container *ngIf="error">
            <p style="color: red; font-weight: bold;">
                Error: {{error.message}}
            </p>
            <p style="font-weight: bold;">
                Note: if you are seeing this then Angular is not responsable
            </p>
            <p>What to do next?</p>
            <ol>
                <li>Open chrome dev tools</li>
                <li>Inspect the network tab</li>
                <li>Check the failing request</li>
                <li>Examine this request URL - make sure this is correct </li>
                <li>Reproduce the error in postman - if we get the same response in Postman, the the issue is not in NOT with Angular </li>
            </ol>
            <p>Following is the stack trace - this is where you investigation should start!</p>
            <code style="color: rgb(255, 0, 76);">{{error.details}}</code>
        </ng-container>
        
    </div>
</div>