<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5%">
    <div fxLayout="row" 
        fxLayoutAlign="start center"
        fxFlexAlign="stretch"
        style="background-color: rgb(211, 208, 208); padding-left: 2%; height: 3rem; font-weight: bold; font-size: larger;">
            Order Summary
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around stretch" style=" padding: 0 2% 0;">
        <p>Shipping cost will be added depending on choices made during checkout</p>
        <div *ngIf="(basketTotal$ | async) as totals" 
            fxLayout="column"
            fxLayoutGap="2%">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 2px solid rgb(139, 139, 139);">
                    <strong>Order subtotal</strong>
                    <strong>{{totals.subtotal | currency}}</strong>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 2px solid rgb(139, 139, 139);">
                    <strong>Shipping and handling</strong>
                    <strong>{{totals.shipping | currency}}</strong>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 2px solid rgb(139, 139, 139);">
                    <strong>Total</strong>
                    <strong>{{totals.total | currency}}</strong>
                </div>
        </div>
    </div>
</div>
