<!-- <section >
    <footer class="example-step-navigation-bar" style="background-color: rgb(211, 208, 208); height: 3rem;">
      <button class="example-nav-button" (click)="selectStepByIndex(selectedIndex)" cdkStepperPrevious>&larr;</button>
      <div
        class="example-step"
        *ngFor="let step of steps; let i = index"
        (click)="selectStepByIndex(i)">
        <div [class.example-active]="selectedIndex === i">
            {{ step.label }}
        </div>
      </div>
      <button class="example-nav-button" (click)="selectStepByIndex(selectedIndex)" cdkStepperNext>&rarr;</button>
    </footer>
    <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
</section> -->

<div fxLayout="column" fxLayoutGap="3%">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: rgb(211, 208, 208); height: 3rem;">
    <div class="step" fxLayout="row" fxLayoutAlign="space-around center"
      *ngFor="let step of steps; let i = index"
      (click)="selectStepByIndex(i)">
      <div [class.step-active]="selectedIndex === i">
          {{ step.label }}:{{ step.completed }}
      </div>
    </div>
  </div>

  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
</div>
