// .example-step-navigation-bar {
//   display: flex;
//   justify-content: flex-start;
//   margin-bottom: 2%;
// }

.step-active {
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: larger;
}
.step{
  cursor: pointer;
  min-inline-size: 7.5rem;
}

// .example-step {
//   background: transparent;
//   border: 0;
//   margin: 0 10px;
//   color: inherit;
// }

// .example-active {
//   border-bottom: 1px solid;
//   font-weight: 600;
// }

// .example-nav-button {
//   background: transparent;
//   border: 0;
//   color: inherit;
// }
