<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="4%" style="margin-top: 5%;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button color="warn" (click)="get500Error()">Test 500 Error</button>
        <button mat-raised-button color="warn" (click)="get404Error()">Test 404 Error</button>
        <button mat-raised-button color="warn" (click)="get400Error()">Test 400 Error</button>
        <button mat-raised-button color="warn" (click)="get400ValidationError()">Test 400 Validation Error</button>
    </div>
    <ul fxLayout="column" fxLayoutAlign="space-around start" style="margin-left: 2%; color: red; font-size: large; font-weight: bold;">
        <li *ngFor="let err of validationErros">
            {{err}}
        </li>
    </ul>
</div>