<ng-container *ngIf="user;else noLogin">
  Welcome: <button mat-button [matMenuTriggerFor]="animals">{{user.displayName}}</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item routerLink="/basket">
      <mat-icon >shopping_cart</mat-icon>
      View Basket
    </button>

    <button mat-menu-item routerLink="/orders">  
      <mat-icon >list</mat-icon>
      View Orders
    </button>

    <button mat-menu-item (click)="logout.emit()">
      <mat-icon >logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</ng-container>
<ng-template #noLogin>
  <button
    mat-button
    *ngFor="let item of menuItemsRight"
    [fxShow]="item.showOnDesktop"
    [fxShow.xs]="item.showOnMobile"
    [fxShow.sm]="item.showOnTablet"
    routerLink="{{item.path}}">
    {{ item.label }}
  </button>
</ng-template>
