<div class="checkout-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5%">
      <mat-card class="box">
        <div style="margin-bottom: 10%;" fxLayout="row" fxLayoutAlign="space-between center">
          <div style="font-size: x-large; font-weight: bold;">Shipping address</div>
          <button 
            (click)="saveUserAddress()" 
            [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
            mat-stroked-button 
            style="color: rgb(0, 197, 0); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;">
              Save as default address
          </button>
        </div>
    
        <form [formGroup]="checkoutForm" class="example-form">
          <mat-card-content>
            <div formGroupName="addressForm">
                <mat-form-field class="example-full-width">
                    <input formControlName="firstName" matInput placeholder="First Name" id="inputFirstName" type="text">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="lastName" matInput placeholder="Last Name" id="inputLastName" type="text">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="street" matInput placeholder="Street" id="inputStreet" type="text">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="city" matInput placeholder="City" id="inputCity" type="text">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="state" matInput placeholder="State" id="inputState" type="text">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="zipCode" matInput placeholder="Zip Code" id="inputZipcode " type="text">
                </mat-form-field>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button 
          mat-stroked-button 
          style="color: rgb(243, 112, 6); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;"
          routerLink="/basket">
            &lt; Back to basket
        </button>
        <button 
          mat-stroked-button 
          style="color: rgb(243, 112, 6); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;"
          cdkStepperNext>
            Go to Delivery &gt;
        </button>
      </div>
    </div>
</div>