<div fxLayout="row" fxLayoutAlign="space-around start">
    <app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
            <app-checkout-address [checkoutForm]="checkoutForm" style="margin-top: 5%;"></app-checkout-address>
        </cdk-step>
        <cdk-step [label]="'Delivery Method'" [completed]="(checkoutForm.get('deliveryForm')).valid">
            <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
        </cdk-step>
        <cdk-step [label]="'Review'">
            <app-checkout-review></app-checkout-review>
        </cdk-step>
        <cdk-step [label]="'Payment'">
            <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
        </cdk-step>
    </app-stepper>

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <app-order-totals></app-order-totals>
    </div>
</div>