<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between center">
  
  <div fxFlex="33.33%">
    <img src="/assets/images/logo.png" alt="logo" [routerLink]="['/']" />
  </div>

  <app-nav-middle
  fxFlex="33.33%"
  style="width: 100%;"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap=".5%"
  [menuItemsMiddle]="menuItemsMiddle"></app-nav-middle>

  <div fxFlex="33.33%">
    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%;" fxLayoutGap="5%">
      <mat-icon style="cursor: pointer;" [matBadge]="(basket$ |async)?.items.length" matBadgeColor="warn" routerLink="/basket">shopping_cart</mat-icon>
      <app-nav-right (logout)="logout()" [user]="currUser$ | async" [menuItemsRight]="menuItemsRight"></app-nav-right>
    </div>

      <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxShow.gt-sm="false">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
          <ng-container *ngFor="let item of menuItemsMiddle">
            <div
              [fxShow]="!item.showOnDesktop"
              [fxShow.sm]="!item.showOnTablet"
              [fxShow.xs]="!item.showOnMobile" >
              <button mat-menu-item>
                <mat-icon class="mr">{{ item.icon }}</mat-icon>
                {{ item.label }}
              </button>
              <mat-divider></mat-divider>
            </div>
          </ng-container>
        </mat-menu>
      </ng-container>
  </div>
  
</mat-toolbar>
