
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button 
          mat-stroked-button 
          style="color: rgb(243, 112, 6); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;"
          cdkStepperPrevious>
            &lt; Back to Review
        </button>
        <button 
          (click)="submitOrder()"
          mat-stroked-button 
          style="color: rgb(243, 112, 6); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;" >
            Submit Order &gt;
        </button>
      </div>