<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
    
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
          <mat-card-content>
              
            <mat-form-field class="example-full-width">
              <input formControlName="displayName" matInput placeholder="Display Name" id="inputName" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input formControlName="email" matInput placeholder="Email address" id="inputMail" type="email">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <input formControlName="password" autocomplete="on" matInput placeholder="Password" id="inputPassword" type="password">
            </mat-form-field>

            <ul *ngIf="errors" style="color: red; font-weight: bold; list-style-type: none;margin: 0; padding: 0;">
              <li *ngFor="let error of errors">
                {{error}}
              </li>
            </ul>

          </mat-card-content>
          <button  mat-stroked-button color="accent" type="submit" class="btn-block">Register</button>
        </form>
      </mat-card>
          
      <!-- <div>
        <p>Form Status: <span style="font-weight: bold;">{{loginForm.status}}</span> </p>
        <p>Email Status: <span style="font-weight: bold;">{{loginForm.get('email').status}}</span> </p>
        <p>Email Touched: <span style="font-weight: bold;">{{loginForm.get('email').touched}}</span> </p>
        <p>Email Dirty: <span style="font-weight: bold;">{{loginForm.get('email').dirty}}</span> </p>
        <pre>{{loginForm.value | json}}</pre>
      </div> -->
    </div>
</div>