<div fxLayout="column" fxLayoutAlign="center center" xLayoutGap="2%">
    <div style="width: 50%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
        <app-basket-summary 
            (decrement)="decrementItemQuantity($event)"
            (increment)="incrementItemQuantity($event)"
            (remove)="removeBasketItem($event)"></app-basket-summary>
        <div >
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3%">
            <app-order-totals></app-order-totals>
            <button style="color: indianred; border-color: indianred;" fxFlexAlign="stretch" mat-stroked-button routerLink="/checkout" >Proceed to checkout</button>
        </div>
    </div>
</div>