<div *ngIf="product"
    fxLayout="column">
    <div fxLayout="row" style="height: 90%;">
    <div fxLayout="column"
            fxLayoutAlign="center start">
            <img src="{{product.pictureUrl}}" alt="{{product.name}}">
        </div>
        <div fxLayout="column"
            fxLayoutAlign="start start"
            style="margin-top: 3%;">
            <p style="font-size: x-large; font-weight: bold; margin-bottom: 3%;">{{product.name}}</p>
            <p>{{product.price | currency}}</p>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8%" style="font-weight: bold; font-size: large;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
                    <button mat-icon-button (click)="decremmentQuantity()">
                        <mat-icon style="color: rgb(253, 218, 62); cursor: pointer;">remove_circle_outline</mat-icon>
                    </button>
                    <div>{{quantity}}</div>
                    <button mat-icon-button (click)="incremmentQuantity()">
                        <mat-icon style="color: rgb(253, 218, 62); cursor: pointer;">add_circle_outline</mat-icon>
                    </button>
                </div>
                
                <button mat-stroked-button (click)="addItemToBasket()" style="width: 12em;">Add to Card</button>
            </div>
        </div>
    </div>
    <div>
        <div style="font-size: large; font-weight: bold;">
            <p>Description</p>
        </div>
        <p>{{product.description}}</p>
    </div>
</div>
