<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-between start">
        <div><mat-icon style="color: rgb(0, 221, 0); font-size:4rem;">check_circle</mat-icon></div>
        <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="3%">
            <div style="font-size: x-large;">Thank you. Your order is confirmed</div>
            <div style="font-weight: bold;">Your order has not shipped yet, but this is to be expected as we are not a real store!</div>
            <button *ngIf="order; else noOrder"
                routerLink="/orders/{{order?.id}}"
                mat-stroked-button 
                style="color: rgb(0, 0, 0); background-color: lawngreen;">
                    View your order
            </button>
            <ng-template #noOrder >
                <button routerLink="/orders"
                    mat-stroked-button 
                    style="color: rgb(0, 0, 0); background-color: lawngreen;">
                        View your orders
                </button>
            </ng-template>
        </div>
        
    </div>
</div>
