<div class="checkout-wrapper" fxLayout="row" fxLayoutAlign="center center" >
    <div fxLayout="column" fxLayoutAlign="center stretch  " fxLayoutGap="5%">
      <mat-card class="box">
        <mat-card-header style="margin-bottom: 10%;">
          <div style="font-size: x-large; font-weight: bold;">Choose your delivery method</div>
        </mat-card-header>
    
        <form [formGroup]="checkoutForm" class="example-form">
          <mat-card-content formGroupName="deliveryForm">
              <div *ngFor="let delMeth of deliveryMethods">
                  <input
                    (click)="setShippingPrice(delMeth)"
                    type="radio" 
                    formControlName="deliveryMethod"
                    [id]="delMeth.id"
                    [value]="delMeth.id">
                  <label for="{{delMeth.id}}">
                    <strong>{{delMeth.shortName}} - {{delMeth.price | currency}}</strong>
                    <br>
                    <span style="margin-left: 7%;">{{delMeth.description}}</span>
                  </label>                  
              </div>
          </mat-card-content>
        </form>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button 
          mat-stroked-button 
          style="color: rgb(243, 112, 6); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;"
          cdkStepperPrevious>
            &lt; Back to Address
        </button>
        <button 
          mat-stroked-button 
          style="color: rgb(243, 112, 6); font-size: smaller; background-color: white; padding: 1%; line-height: 1rem;"
          cdkStepperNext>
            Go to Review &gt;
        </button>
      </div>
    </div>
</div>