<table mat-table [dataSource]="orders" class="mat-elevation-z8" style="width: 65%;">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Order Column -->
    <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Order </th>
        <td mat-cell *matCellDef="let element"> # {{element.id}} </td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date: 'medium'}} </td>
    </ng-container>
    
    <!-- Total Column -->
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
    </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" routerLink="/orders/{{row.id}}"></tr>
</table>