<mat-card style="max-width: 250px">
  <img
    mat-card-image
    src="{{product.pictureUrl}}"
    alt="{{product.name}}"
    style="background-color: rgb(238, 238, 238);"
  />
  <mat-card-content fxLayout="column" fxLayoutAlign="center start">
    <a routerLink="/shop/{{product.id}}">
        <span>{{product.name | uppercase}}</span>
    </a>
    <span>{{product.price | currency}}</span>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
      <button mat-raised-button fxFlex="50" (click)="addItemToBasket()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    <button mat-raised-button fxFlex="50" routerLink="/shop/{{product.id}}" >View</button>
  </mat-card-actions>
</mat-card>
