<div
  fxLayout="row"
  fxLayoutAlign="center start"
  fxLayoutGap="3%">
    <div fxLayout="column" fxLayoutAlign="start end" fxFlex="30">
      <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="10%">
        <div fxFlexAlign="start">
          <div style="color: rgba(248, 224, 3, 0.911); font-size: x-large; font-weight: bold;">Sort</div>
          <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select [disabled]="false" (valueChange)="onSortSelected($event)" [(ngModel)]="shopService.getShopParams().sort">
              <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
                {{sort.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlexAlign="start" style="color: rgba(248, 224, 3, 0.911); font-size: x-large; font-weight: bold;">Brands</div>
        <mat-button-toggle-group
          fxFlexAlign="stretch"
          [vertical]="true"
          fxLayout="column"
          #toggleBrandsGroup="matButtonToggleGroup">
          <mat-button-toggle
            *ngFor="let brand of brands"
            [value]="brand.id"
            (change)="brandClicked(brand.id)">
              {{ brand.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div style="color: rgba(248, 224, 3, 0.911); font-size: x-large; font-weight: bold;" fxFlexAlign="start">Types</div>
        <mat-button-toggle-group
          fxFlexAlign="stretch"
          [vertical]="true"
          fxLayout="column"
          #toggleTypesGroup="matButtonToggleGroup">
          <mat-button-toggle
            *ngFor="let type of types"
            [value]="type.id"
            (change)="typeClicked(type.id)">
              {{ type.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div
      fxFlex="70"
      fxLayout="column"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="1%">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <app-pager 
          [totalCount]="length"
          [pageSizeOptions]="pageSizeOptions"
          (pageChanged)="handlePagingEvent($event)"
          [pageIndex]="shopParams.pageIndex"
          [pageSize]="shopParams.pageSize"
          [showFirstLastButtons]="showFirstLastButtons"></app-pager>
        <div fxLayout="row" fxLayoutGap="3%" style="margin-right: 3%">
          <input (keyup.enter)="onSearch()" type="text" #search placeholder="Search" />
          <button (click)="onSearch()">Search</button>
          <button (click)="onReset()">Reset</button>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="2% grid">
        <div *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
</div>
