<div fxLayout="row" fxLayoutAlign="space-around start" *ngIf="order?.orderItems">

    <table mat-table [dataSource]="order.orderItems" class="mat-elevation-z8" style="width: 65%;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4%">
                    <img style="max-height: 50px;" src="{{element.pictureUrl}}" alt="{{element.productName}}">
                    <div> {{element.productName}} </div>
                </div>
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantiy}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.quantiy * element.price | currency}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5%" style="width: 30%;">
        <div fxLayout="row" 
            fxLayoutAlign="start center"
            style="background-color: rgb(211, 208, 208); padding-left: 2%; height: 3rem; font-weight: bold; font-size: larger;">
                Order Summery
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around stretch" style=" padding: 0 2% 0;">
            <div fxLayout="column"
                fxLayoutGap="2%">
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 2px solid rgb(139, 139, 139);">
                        <strong>Order subtotal</strong>
                        <strong>{{order.subtotal | currency}}</strong>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 2px solid rgb(139, 139, 139);">
                        <strong>Shipping and handling</strong>
                        <strong>{{order.shippingPrice | currency}}</strong>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: 2px solid rgb(139, 139, 139);">
                        <strong>Total</strong>
                        <strong>{{order.total | currency}}</strong>
                    </div>
            </div>
        </div>
    </div>
</div>
